.presentation{
    opacity: 0;
    animation-name: slide-fade;
    animation-duration: 3s;
    animation-delay: 1s;
}

@keyframes slide-fade {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

.finalSlide{
    width: 20rem;
    height: auto;
    opacity: 0;
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.greeting{
    font-size: 7rem;
}

.longText{
    width: 60%;
    font-size: 3.8rem;
    text-align: center;
    overflow-wrap: break-word;
}

.border{
    width: 100%;
    border-style: solid;
    border-width: 0.5rem;
    border-radius: 5px;
    border-color: rgb(230, 226, 197);
}
